header {
  background-color: rgb(255, 205, 155);
}

h1 {
  color: green;
}

.block {
  color: aquamarine;
}

body {
  font-size: 20px;
}
body div {
  font-size: 15px;
  max-width: 1200px;
  padding: auto;
}

.red {
  color: red;
  font-size: 10px;
}